
<!-- HEAD Start -->

<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- Title -->
    <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>

    <!-- CSS Framework -->
    {% if page.section-type == "index" %}
    {% endif %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.css">

    <!-- 3rd Party CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/rrssb.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Remove Later ??? -->

</head>

<!-- HEAD End -->
