
<!-- Intro Start -->

<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="showMain" class="navbar-brand" href="index.html">&Omega;</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="showAboutMe" href="{{site.baseurl}}/aboutMe.html">About Me</a>
                    </li>

                    <li>
                        <a id="showResume" href="{{site.baseurl}}/resume.html">Resume</a>
                    </li>

                    <li>
                        <a id="showProject" href="{{site.baseurl}}/project.html">Projects</a>
                    </li>

                    <li>
                        <a id="showBlog" href="{{site.baseurl}}/blog/index.html">Blog</a>
                    </li>

                    <li>
                        <a id="showContact" href="{{site.baseurl}}/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://kratosomega.github.io/omega" target="_blank">Code Version (Under Construction)</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Intro End -->
